{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
            <select id="symbol" name="symbol">
                <option value="">--Please choose an option--</option>
                {% for accion in acciones %}
                <option value={{ accion.stock }} > {{ accion.stock}} </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input class="form-control" name="shares" placeholder="Quantity" type="text"/>
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}


